.footer{
    background: var(--color-brand);
    color: var(--color-white);
    margin-top: 40px;
    padding-top: 10px;

    .footer-info{
        margin-top: 40px;
        text-align: center;
        font-weight: 700;
        padding-bottom: 20px;
        color: var(--color-white);
    }
    
    .footer-redes{
        display: flex;
    }

    .footer-redes-item svg{
        fill: var(--color-white);
    }

    @include respond-to('desktop'){
        .footer-redes-item svg{
            width: 45px;
            height: 45px;
        }
    }
}
