@import '../base.scss';

[lang="en"]:not(html){
    display: none;
}

.main-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0 90px;
    scroll-margin-top: 70px;
    height: 100vh;

    @include respond-to('desktop'){
        padding: 200px 0 ;
        scroll-margin-top: 70px;
        height: auto;
    }

    h1 {
        white-space: nowrap;
        font-size: 30px;
    }

    &-text {
        text-align: center;
    }
}

.about {
    scroll-margin-top: 70px;

    &-info h2 {
        margin-bottom: 10px;
    }

    &-info p {
        line-height: 22px;
    }
}

.experience {
    .experience-item {
        padding-top: 25px;
    }

    .experience-head {
        display: flex;
        align-items: center;
    }

    .experience-head .experience-cont-title {
        padding-left: 10px;
    }

    .experience-head .experience-title {
        font-size: 18px;
    }

    .experience-head .experience-subtitle {
        font-size: 14px;
        color: var(--color-brand);
        font-weight: 700;
    }

    .experience-head:before {
        content: "";
        display: inline-block;
        background-color: var(--color-brand);
        border-radius: 50%;
        width: 22px;
        height: 22px;
        margin-bottom: 3px;
        margin-right: 5px;
        position: relative;
        top: -7px;
    }

    .experience-info {
        position: relative;
    }

    .experience-line {
        height: calc(100% + 60px);
        border: 1px solid var(--color-brand);
        position: absolute;
        left: 10px;
        top: -24px;
        z-index: -1;
    }

    .experience-item:last-of-type .experience-line {
        height: 40px;
    }

    .experience-p {
        padding-left: 50px;
        padding-top: 15px;
    }

    @include respond-to('desktop') {
        .experience-line {
            top: -17px;
        }
    }
}

.cont-proyects {
    display: grid;
    gap: 20px
}

.cont-proyects .cont-proyects-link {
    text-decoration: none;
    color: var(--color-black);
}

.proyects-title {
    margin-bottom: 20px;
}

.cont-proyects-item {
    padding: 20px;
    border: 2px solid var(--color-brand);
    border-radius: 8px;
}

.cont-proyects-item-img {
    position: relative;
    aspect-ratio: 4/3;
}

.cont-proyects-item-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont-proyects-item-body {
    padding-top: 15px;
}

.cont-proyects-item-body-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}

@include respond-to('tablet') {
    .cont-proyects {
        grid-template-columns: repeat(2, 1fr);
    }

    .cont-proyects-item {
        min-height: 385px;
    }

    .cont-proyects-item-img {
        max-width: 400px;
    }
}

@include respond-to('desktop') {
    .cont-proyects {
        grid-template-columns: repeat(3, 1fr);
    }
}

.technologies {

    .tech-slider .tech-slider-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tech-slider .tech-slider-item span {
        color: var(--color-brand);
        font-weight: 700;
    }

    .tech-slider svg {
        width: 64px;
        height: 64px;
        margin-bottom: 10px;
    }

    .tech-slider svg {
        fill: var(--color-brand);
    }

    .tech-slider svg.icon {
        fill: var(--color-white);
        stroke: var(--color-brand)
    }
    
    $animationSpeed: 15s;
    
    // Animation
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-110px * 7))}
    }
    
    
    // Styling
    .slider {
        background: white;
        height: 100px;
        margin: auto;
        overflow:hidden;
        position: relative;
        max-width: 1220px;
        
        &::before,
        &::after {
            content: "";
            height: 100px;
            position: absolute;
            width: 200px;
            z-index: 2;

            @include respond-to('desktop'){
                background: transparent;
            }
        }
        
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
    
        &::before {
            left: 0;
            top: 0;
        }
        
        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(110px * 14);

            @include respond-to('desktop'){
                animation: none;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
        
        .slide {
            height: 100px;
            width: 110px;

            @include respond-to('desktop'){
                width: 150px;

                &.slide-repeat{
                    display: none;
                }
            }
        }
    }
}

.container-form {
    max-width: 600px;

    .form-mail {
        border: 2px solid var(--color-brand);
        padding: 20px 10px;
        border-radius: 8px;

        box-shadow: 1px -1px 20px -10px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px -1px 20px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px -1px 20px -10px rgba(0, 0, 0, 0.75);
    }

    label{
        margin-bottom: 5px;
        font-weight: 700;
    }

    .form-mail-title {
        margin-bottom: 10px;
        text-align: center;
    }

    .form-mail-title-text {
        font-size: 24px;
        font-weight: 700;
        display: block;
    }

    .form-mail input {
        margin-bottom: 10px;
        padding: 8px 5px;
        width: 100%;
    }

    .form-mail-contador {
        margin-bottom: 10px;
    }

    .form-contador-text {
        font-size: 14px;
        opacity: 0.8;
    }

    .form-mail textarea {
        padding: 8px 5px;
        width: 100%;
    }

    .form-mail input,
    .form-mail textarea {
        outline: none;
    }

    .form-mail-send {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .form-mail-send button {
        padding: 8px 24px;
        border: none;
        background: var(--color-brand);
        color: $color-white;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        border-radius: 5px;
        cursor: pointer;
    }

    .form-msj-error {
        font-size: 14px;
        font-weight: 700;
        color: red;
        margin-top: 10px;
    }

    .form-msj-error {
        font-size: 14px;
        font-weight: 700;
        color: green;
        margin-top: 10px;
    }

    @include respond-to('desktop') {
        .form-mail {
            padding: 25px 15px;
        }

        .form-mail-title {
            margin-bottom: 20px;
        }

        .form-mail input {
            margin-bottom: 20px;
        }

        .form-mail-contador {
            margin-bottom: 20px;
        }
    }
}