$color-brand: #0056b3;
$color-light-grey: #7a7a7a;
$color-white: #fff;
$color-black: #000;

$color-brand--dark: #336699;
$color-light-grey--dark: #7a7a7a;
$color-white--dark: #000;
$color-black--dark: #fff;

.theme{
  --color-brand: #{$color-brand};
  --color-light-grey: #{$color-light-grey};
  --color-white: #{$color-white};
  --color-black: #{$color-black};

  // Tema oscuro
  &--dark{
    --color-brand: #{$color-brand--dark};
    --color-light-grey: #{$color-light-grey--dark};
    --color-white: #{$color-white--dark};
    --color-black: #{$color-black--dark};
  }
}

$breakpoints: (
  'smallphone': 23.4375em, //375px
  'bigphone': 31.25em,     //500px
  'mobile': 43.75em,       //700px
  'tablet': 48em,          //768px
  'desktop': 64em,         //1024px
  'notebook': 80em,        //1280px
  'widescreen': 90em,      //1440px
  'fullhd': 120em          //1920px
) !default;

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Light.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-display: swap;
}

/* Agrega más estilos de fuente según sea necesario */
