---
import Header from '../components/structure/Header.astro';
import Footer from '../components/structure/Footer.astro';
import Js from '../components/structure/Js.astro'
import Metas from '../components/structure/Metas.astro'
import Css from '../components/structure/Css.astro'
import Fonts from '../components/structure/Fonts.astro'
const {pageTitle, pageDescription, page} = Astro.props;
---
<html lang="es">
  <head>

    <Fonts />
    <Metas pageTitle={pageTitle} pageDescription={pageDescription} />
    <Css page={page}/>
    <Js />

  </head>
  <body class="theme">
    <Header />

    <slot />

    <Footer />
  </body>
</html>